  <footer>
        <div class="footer">
            <div class="box1">
                <button>Back To Top</button>
            </div>
            <div class="box2">
                <ul>
                    <li><b>Talkify —</b> A simple space to share thoughts openly.</li>
                    <li><b>Tools Used:</b> Node.js, Express, EJS, Multer, HTML, CSS, JavaScript.</li>
                    <li><b>How to Use:</b> Create a post, upload images, write your message, and publish.</li>
                    <li><b>Purpose:</b> To encourage open communication without noise or distractions.</li>
                </ul>
            </div>
            <div class="box3">
                <ul>
                    <li>Project: Restful APIs</li>
                    <li>© 2025 Talkify — All Rights Reserved</li>
                    <li>Developer : Harshvardhan Raj.</li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="/script.js"></script>
</body>
</html>