<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talkify</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/view.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>

    <!--navigation-->
    <header>
        <nav>
            <div class="nav">
                <div class="logo">
                    <div></div>
                    <h1>TALKIFY</h1>
                </div>

                <div class="navBtn">
                    <div class="home">
                        <a href="http://localhost:8080/talkify"><i class="fa-solid fa-house-chimney-user"></i></a>
                    </div>
                    <div class="accout">Sign in/up</div>
                </div>
            </div>
        </nav>
    </header> 