.form-container {
    margin-top: 160px;
    height: auto;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding: 35px;
    background-color: #fff;
}

.form-container h2 {
    color: red;
    font-size: 3rem;
    margin: 35px 0;
}

.form-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    gap: 25px;
}

.file-input input {
   display: none;
}


.file-input .img-box {
    width: 700px;
    height: 400px;
    border-radius: 25px;
    border: 3px dashed grey;
    background-image: url("/images/sprout-home-prod-topper.jpg");
    background-size: contain;
    background-position: center;
    cursor: pointer;
}


.text-input {
    width: 47%;
}

.text-input input, .text-input textarea {
    width: 100%;
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    border: 2px dashed grey;
    background-color: rgba(235, 235, 235, 0.647);
    transition: border 0.2s ease-in-out;
}

.text-input input {
    height: 50px; 
    margin-bottom: 16px;
}

.text-input textarea {
    height: 265px;
    resize: none;
    overflow-y: auto;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid red;
}

.form-btn{
    margin: 25px auto;
    width: 170px;
    height: 45px;
    padding: 6px 10px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px grey;
    display: flex;
    justify-content: space-between;
}

.form-btn .clear {
    font-size: 15px;
    color: #000;
    border: none;
    cursor: pointer;
    background-color: #fff;
    padding-left: 5px;
}

.form-btn .clear:hover {
    transform: scale(1.2);
    color: #000000b3;
}

.form-btn .submit {
    font-size: 16px;
    padding: 7px 9px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: red;
    margin-left: 5px;
}

.form-btn .submit:hover {
    transform: scale(1.05);
    box-shadow: 0 0 3px gray;
}




/*footer stylesheet*/
.footer {
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
    background-color: rgb(23, 22, 40);
}

.footer .box1 {
    width: 100%;
    height: 38px;
    padding-top: 6px;
    background-color: rgb(235, 32, 32);;
}

.footer .box1 button {
   width: 100px;
   height: 26px;
   font-weight: 700;
   color: black;
   border: none;
   cursor: pointer;
   border-radius: 10px;
   background-color: yellow;
}

.footer .box2 {
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(40, 39, 68);
}

.footer  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer  ul li {
    opacity: 0.8;
    width: 45%;
    margin-top: 20px;
}

.footer  ul li:hover {
    opacity: 0.95;
    text-decoration: underline;
}

.footer .box3 {
    height: auto;
}

.footer .box3 ul li {
    width: 32%;
    margin: 7px ;
}

@media (max-width: 576px) {

    /* Main container */
    .form-container {
        margin-top: 120px;
        height: auto;
        padding: 20px;
        border-radius: 25px;
    }

    .form-container h2 {
        font-size: 1.8rem;
        text-align: center;
        margin: 20px 0;
    }

    /* Form Layout: STACK */
    .form-box {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: auto;
    }

    /* Image Box */
    .file-input .img-box {
        width: 285px;
        height: 220px;
        border-radius: 20px;
        background-size: cover;
        background-color: #f8f8f8;
    }

    /* Text Inputs */
    .text-input {
        width: 100%;
    }

    .text-input input,
    .text-input textarea {
        font-size: 16px;
        padding: 12px;
        border-radius: 12px;
    }

    .text-input input {
        height: 45px;
        margin-bottom: 14px;
    }

    .text-input textarea {
        height: 180px;
    }

    /* Bottom Buttons */
    .form-btn {
        width: 140px;
        height: 40px;
        padding: 5px 8px;
        border-radius: 12px;
        margin-top: 25px;
        justify-content: space-around;
    }

    .form-btn .clear {
        font-size: 14px;
        padding: 3px 5px;
    }

    .form-btn .submit {
        font-size: 14px;
        padding: 5px 7px;
        border-radius: 8px;
    }

    /* FOOTER */
    .footer {
        height: auto;
        padding-bottom: 20px;
    }

    .footer .box2 ul li,
    .footer .box3 ul li {
        width: 100%;
        margin: 8px 0;
        font-size: 14px;
        flex-direction: column;
    }

    .footer .box1 button {
        width: 90px;
        height: 25px;
        font-size: 12px;
    }
}