.viewContainer {
    width: 100%;   
    background-color: white;
    margin-top: 160px;
    border-radius: 35px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 40px;
}

.inner-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 50px;
}

.viewCard {
    height: fit-content;
}

.talkView {
    height: auto !important;
}

.comments h2, 
 .comments h3 {
    font-size: 25px;
    color: red;
    margin: 15px 0;
    font-family: "Poppins", sans-serif;
 }

.comments {
    width: 650px;
    display: flex;
    flex-direction: column;
}

.comment-form {
    width: 100%;
    height: 330px;
}

.comment-form input,
 .comment-form textarea {
    width: 100%;
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    border: 2px dashed grey;
    background-color: rgba(235, 235, 235, 0.647);
    transition: border 0.2s ease-in-out;
}

.comment-form input {
    height: 50px; 
    margin-bottom: 16px;
}

.comment-form textarea {
    height: 140px;
    resize: none;
    overflow-y: auto;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid red;
}
 
.comment-btn {
    width: 150px;
    height: 35px;
    margin: 15px 0;
    position: relative;
    left: 77%;
    padding: 5px 8px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px grey;
    display: flex;
    justify-content: space-between;
}

.comment-btn .clear {
    font-size: 15px;
    color: #000;
    border: none;
    cursor: pointer;
    background-color: #fff;
    padding-left: 5px;
}

.comment-btn .clear:hover {
    transform: scale(1.2);
    color: #000000b3;
}

.comment-btn .postbtn {
    font-size: 16px;
    padding: 2px 9px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: red;
}

.comment-btn .postbtn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 3px gray;
}


/*all comments box*/
.comment {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid grey;
    background-color: rgba(235, 235, 235, 0.647);
 }

 .comment .userid {
    height: 35px;
    font-size: 17px;
    font-weight: 600;
    padding: 6px 10px;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: space-between;
 }

 .comment .content {
    padding: 6px 15px;
 }

 .comment form button {
    background-color: transparent;
    border: none;
 }

 .comment .crossBtn{
    color: white;
    cursor: pointer;
 }

 .comment .crossBtn:hover {
    transform: scale(1.2);
    color: rgb(247, 164, 164);
 }



 @media (max-width: 576px) {

    .viewContainer {
        padding: 50px 20px;
    }

    .comments {
        width: 100%;
    }

    .comment-form {
        height: auto;
    }

    .comment-btn {
        left: 0;
        margin-left: auto;
    }

    .comment-btn {
        width: 140px;
    }

    .comments h2,
    .comments h3 {
        font-size: 22px;
    }
}